* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --main-padding: 6px;
    --main-radius: 5px;
    --fundo-claro: azure;
    --cafe-texto: #29190b;
    --cafeLeite-texto: #6a4728;
    --sombra-escura: #1e1208;
}

body {
    background-color: var(--fundo-claro);
    color: var(--cafe-texto);
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
    grid-template-rows: 0.4fr 6fr 1fr 0.6fr 1.2fr 0.3fr;
    grid-template-areas:
        'nav nav nav nav nav'
        'main main main main main'
        'prod prod prod prod prod'
        'dest dest dest dest dest'
        'inst inst inst inst inst'
        'footer footer footer footer footer';
    grid-row-gap: 0rem;
}

header {
    width: 100%;
    padding: 8px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: nav;
}

.siteLogo {
    align-items: center;
    padding-left: 30px;
    padding: 20px;
}

.listNav ul {
    display: flex;
    align-content: center;
}

.listNav li {
    display: inline;
    padding-right: 50px;
    font-size: 30px;
}

.listNav ul li a {
    text-decoration: none;
    color: var(--cafe-texto);
    font-size: 12px;
}

.banner {
    background-image: url("imagens/imagem01.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    grid-area: main;
}

.banner__logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos {
    display: inline-flex;
    height: 35vh;
    width: 100%;
    grid-area: prod;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1vh;
    margin-left: 1vh;
}

.prodCafe,
.prodCafeManha,
.prodAcess {
    width: 40lh;
    background-image: url("imagens/produtosCafe.jpg");
    background-repeat: no-repeat;
    background-size: 90%;
    padding: var(--main-padding);
}

.destaques {
    grid-area: dest;
}

.destaques>ul {
    display: grid;
    height: 5vh;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 0;
}

.destaques>h2 {
    font-size: 48px;
    padding: 0px 48px 32px;
}

.desTit {
    display: block;
    width: 100%;
}

.institucional {
    grid-area: inst;
}

.institucional>ul {
    display: grid;
    height: 5vh;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 0;
}

.listInst {
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
    padding: 0px 48px 32px;
}